.container {
    display: block;
    width: 400px;
    margin: 10px;
}

#mainContainer {
    border: solid;
    margin: 30px;
    border-radius: 20px;
}

.mainHeader {
    text-align: center;
    width: 100%;
    padding: 20px;
    text-decoration: underline;
}

.checked {
    color: orange;
}

.list-style {
    list-style: none;
    width: 100%;
}

ul {
    padding: 0;
}

button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
button:hover {
    color: #333;
}

.itemButtons {
    float: right;
    cursor: pointer;
    margin: 10px;
}

.shoppedItems label {
    text-decoration: line-through;
    color: #888;
}

.shoppedItems {
    list-style: none;
}

.checkbox {
    margin-right: 20px;
}
