.container {
    display: block;
    width: 400px;
    margin: 10px;
}

#mainContainer {
    border: solid;
    margin: 30px;
    border-radius: 20px;
}

.mainHeader {
    text-align: center;
    width: 100%;
    padding: 20px;
    text-decoration: underline;
}

.checked {
    color: orange;
}

.list-style {
    list-style: none;
    width: 100%;
}

ul {
    padding: 0;
}

button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
button:hover {
    color: #333;
}

.itemButtons {
    float: right;
    cursor: pointer;
    margin: 10px;
}

.doneItems label {
    text-decoration: line-through;
    color: #888;
}

.doneItems {
    list-style: none;
}

.checkbox {
    margin-right: 20px;
}

h1,
h4 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

h5 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.error {
    position: relative;
    animation: shake 0.1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% {
        left: -5px;
    }
    100% {
        right: -5px;
    }
}
